@font-face {
	font-family: 'Ubuntu-Light';
	src: url('../fonts/Ubuntu-Light/Ubuntu-L.eot');
	src: local('☺'), url('../fonts/Ubuntu-Light/Ubuntu-L.woff') format('woff'), url('../fonts/Ubuntu-Light/Ubuntu-L.ttf') format('truetype'), url('../fonts/Ubuntu-Light/Ubuntu-L.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, h3 {
	font-family: 'Ubuntu-Light';
}
h3 {
	/*font-size: 20px;*/
}

#page {
	/*text-align: center;*/
}
#application-container {
	border-left: 1px solid black;
	text-align: center;
}
#form {
	margin-top: 30px;
}
#form > * {
	margin-top: 5px;
}

.table-line {
	display: table-row;
	padding: 10px;
}
.table-line > * {
	padding: 10px;
}
.table-line .table-header {
	background: #101010;
	display: table-cell;
	color: #0085FF;
	font-size: 20px;
}
.table-line .table-cell {
	display: table-cell;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	font-size: 14px;
}

.highlight {
	background: rgb(2, 163, 240);
}
.navbar p.navbar-text, .navbar .navbar-brand {
	color: #0085FF;
}
